body{
  font-family:'Inter', 'Noto Sans TC', sans-serif;
  
}

img{
  display: block;
  object-fit: cover;
  
}

a{
  display: block;
  
}

ul{
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
li{
  padding: 0 !important;
}
p{
  margin-bottom: 0 ;
}
