nav{
  .navbar-collapse{
    flex-grow: 0;
  }
  .navbar-toggler:focus,.navbar-toggler:hover{
    border-color:$secondary !important;
    
  }

  .nav-hover:hover{
    transform: scale(1.2) ;
    transition-duration: 0.2s;
    
  }
  
}