.index-banner{
  background-image: url(.././images/index/banner-sm.jpg)  ;  
  background-size: cover;
  background-position: center center;
  
}




@include  web{
  .index-banner{
    background-image: url(.././images/index/banner.jpg) ;  
  }
  

}