.index-banner{
  background-image: url(.././images/index/banner-sm.jpg);  
  background-size: cover;
  
}




@include  ipad-sm{
  .index-banner{
    background-image: url(.././images/index/banner.png);  
  }
  

}