//貓狗首頁按鈕

.dc-button{
  background: rgba(255, 255, 255, 0.6);
  width: 240px;
}

.dc-button:hover{
  background: rgba(255, 255, 255, 0.9);
  outline: 5px solid;
  
}


.tittle-border:before{
  content: '';
  position: absolute;
  bottom:-30px;
  right:0%;
  height: 1px;
  width:65%;
  background-color:$secondary;
}