.cat-bg{
  background-image: url(.././images/cat/cat-index-sm-1.jpg);
}

@include ipad{
  .cat-banner-tittle-adopt{
    background-image: url(.././images/cat/cat-bg-4.jpg) !important;
    height: 350px !important;

  }

  .cat-ready-banner-tittle{
    background-image: url(.././images/cat/cat-bg-2.jpg) !important;
    height: 350px !important;
  }

  .cat-love-banner-tittle{
    background-image: url(.././images/cat/cat-bg-3.jpg) !important;
    height: 350px !important;

  }

  .cat-assess-banner-tittle{
    background-image: url(.././images/cat/cat-bg-1.jpg) !important;
    height: 350px !important;

  }
}



@include ipad-sm{
  .cat-bg{
    background-image: url(.././images/cat/cat-banner.png);
  }
  .bg-cat-qa{
    background-image:url(.././images/cat/cat-assest-bg.png) !important;
  }
  .bg-cat-money{
    background-image:url(.././images/cat/cat-assest-bg1.png) !important;
  }

}

@include web{
  .cat-button-list{
    margin-right: 200px !important;
  }
}