.frame{
  height: 32px;
  width: 230px;
  .frame-box{
    border: 1px solid $secondary;

  }
  .frame-black{
    height: 15px;
  }
}



@include ipad{
  .banner-tittle-assest{
    background-image: url(.././images/dog/dog-b5.jpg) !important;
    height: 350px !important;

  }
  .bg-qa{
    background-image:url(.././images/dog/dog-assest-bg.jpg) !important;
  }
  .bg-money{
    background-image:url(.././images/dog/dog-assest-bg-1.jpg) !important;
  }
  
}


@include web{
  .ms-150{
    margin-left: 250px;
  }
  

}