.dog-bg{
  background-image: url(.././images/dog/dog-index-sm-1.jpg);
}



@include ipad-sm{
  .dog-bg{
    background-image: url(.././images/dog/dog-index-1.jpg);
  }
}

@include web{
  .dog-button-list{
    margin-right: 200px !important;
  }
}
